@font-face {
	font-family: SalmaPro;
	font-display: swap;
	src: url("../fonts/SalmaPro-Medium.woff2") format("woff2"), url("../fonts/SalmaPro-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: TT Ramillas Trial Black Outline Italic;
	font-display: swap;
	src: url("../fonts/TT Ramillas Trial Black Outline Italic.woff2") format("woff2"), url("../fonts/TT Ramillas Trial Black Outline Italic.woff") format("woff");
	font-weight: 900;
	font-style: italic;
}
@font-face {
	font-family: TT Ramillas Trial Black Outline;
	font-display: swap;
	src: url("../fonts/TT Ramillas Trial Black Outline.woff2") format("woff2"), url("../fonts/TT Ramillas Trial Black Outline.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: TT Ramillas Trial Variable Italic;
	font-display: swap;
	src: url("../fonts/TT Ramillas Trial Variable Italic.woff2") format("woff2"), url("../fonts/TT Ramillas Trial Variable Italic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: TT Ramillas Trial Variable Italic;
	font-display: swap;
	src: url("../fonts/TT Ramillas Trial Variable Italic.woff2") format("woff2"), url("../fonts/TT Ramillas Trial Variable Italic.woff") format("woff");
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: TT Ramillas Trial Variable Roman;
	font-display: swap;
	src: url("../fonts/TT Ramillas Trial Variable Roman.woff2") format("woff2"), url("../fonts/TT Ramillas Trial Variable Roman.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: TT Ramillas Trial Variable Roman;
	font-display: swap;
	src: url("../fonts/TT Ramillas Trial Variable Roman.woff2") format("woff2"), url("../fonts/TT Ramillas Trial Variable Roman.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: TT Ramillas Trial Bold Italic;
	font-display: swap;
	src: url("../fonts/TT Ramillas Trial Bold Italic.woff2") format("woff2"), url("../fonts/TT Ramillas Trial Bold Italic.woff") format("woff");
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: TT Ramillas Trial ExtraBold Italic;
	font-display: swap;
	src: url("../fonts/TT Ramillas Trial ExtraBold Italic.woff2") format("woff2"), url("../fonts/TT Ramillas Trial ExtraBold Italic.woff") format("woff");
	font-weight: 800;
	font-style: italic;
}
@font-face {
	font-family: TT Ramillas Trial Italic;
	font-display: swap;
	src: url("../fonts/TT Ramillas Trial Italic.woff2") format("woff2"), url("../fonts/TT Ramillas Trial Italic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: TT Ramillas Trial Medium Italic;
	font-display: swap;
	src: url("../fonts/TT Ramillas Trial Medium Italic.woff2") format("woff2"), url("../fonts/TT Ramillas Trial Medium Italic.woff") format("woff");
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: TT Ramillas Trial Medium;
	font-display: swap;
	src: url("../fonts/TT Ramillas Trial Medium.woff2") format("woff2"), url("../fonts/TT Ramillas Trial Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: TT Ramillas Trial Regular;
	font-display: swap;
	src: url("../fonts/TT Ramillas Trial Regular.woff2") format("woff2"), url("../fonts/TT Ramillas Trial Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
