// CASE PAGE =======================


//----------------------------------------------------------------------------
// == 1. CASE SECTION ====================================================
//----------------------------------------------------------------------------
.case {
position: relative;
height: 100%;
min-height: rem(760);
@include adaptiveValue("min-height", 760, 567, 0, 768, 360);
display: flex;

// @media (max-height: em(550)){
//   height: 100%;
// }
  // .case__bg
  &__bg {
  }
  // .case__container
  &__container {
    padding-top: rem(80);
    padding-bottom: rem(80);
    position: relative;
    z-index: 1;
    min-height: 100%;
  }
  // .case__title
  &__title {
    color: white;
    @include adaptiveValue("font-size", 120, 72, 0, 1440, 768);
    @include adaptiveValue("font-size", 72, 32, 3, 768, 360);
    line-height: calc(140/120);
    text-align: center;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

//----------------------------------------------------------------------------
// == 2. MAIN-CASE SECTION ====================================================
//----------------------------------------------------------------------------
.main-case {
  @include adaptiveValue("padding-top", 120, 80, 0, 1440, 768);
  @include adaptiveValue("padding-top", 120, 80, 3, 768, 360);

  @include adaptiveValue("padding-bottom", 240, 120, 0, 1920, 1440 );
  @include adaptiveValue("padding-bottom", 120, 80, 3, 768, 360);
  // .main-case__container
  &__container {
  }
  // .main-case__txt-main
  &__txt-main {
    color: $black-light;
    @include adaptiveValue("font-size", 48, 40, 0, 1440, 768);
    @include adaptiveValue("font-size", 40, 24, 3, 768, 360);
    line-height: calc(56/48);

    text-align: center;
    max-width: rem(1176);
    margin-left: auto;
    margin-right: auto;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 120, 40, 0, 768, 360);
    }
       
        // .main-case__txt-main_link
        &_link {
          text-decoration: rem(2) underline;
          text-underline-offset: rem(5);
          transition: all 0.3s ease;
          @media (any-hover: hover){
            &:hover{
              opacity: 0.8;
            }
          }
        }
  
  }
  // .main-case__txt
  &__txt {
    @include adaptiveValue("font-size", 32, 24, 0, 1440, 768);
    @include adaptiveValue("font-size", 24, 14, 3, 768, 360);
    line-height: calc(40/32);

    columns: 2;
    column-gap: rem(40);
    @media (max-width:$mobileXS){
       column-gap: rem(16); 
    }
    p {
      break-inside: avoid;
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 35, 16, 0, 768, 360);
      }
    }
  }
}

//----------------------------------------------------------------------------
// == 3. GOAL-CASE SECTION ====================================================
//----------------------------------------------------------------------------
.goal-case {
  position: relative;
  @include adaptiveValue("padding-top", 120, 80, 0, 1440, 768);
  @include adaptiveValue("padding-top", 80, 40, 3, 768, 360);
  @include adaptiveValue("padding-bottom", 120, 80, 0, 1440, 768);
  @include adaptiveValue("padding-bottom", 80, 40, 3, 768, 360);
  // .goal-case__bg
  &__bg {
  }
  // .goal-case__container
  &__container {
    position: relative;
    z-index: 1;
  }
  // .goal-case__title-anim
  &__title-anim {
    @include adaptiveValue("margin-bottom", 72, 60, 0, 1920, 1440);
    @include adaptiveValue("margin-bottom", 60, 48, 3, 1440, 768);
    @include adaptiveValue("margin-bottom", 48, 40, 3, 768, 360);
    @media (max-width:$mobile){
       text-align: center; 
    }
  }
  // .goal-case__title-txt
  &__title-txt {
  }
  // .goal-case__body
  &__body {
    width: 66%;
    margin: 0 auto;
    @media (max-width: em(1366)){
        width: 100%;
    }
  }
  // .goal-case__list
  &__list {
  }

    // Если нужно изменить БЄМ блок ---------------------
    .list-why-service {
      // .list-why-service__item
      &__item {
      }
      // .list-why-service__number
      &__number {
      }
      // .list-why-service__txt
      &__txt {
      }
    }
}

//----------------------------------------------------------------------------
// == 4. PROMO-CASE SECTION ====================================================
//----------------------------------------------------------------------------
.promo-case {
  @include adaptiveValue("padding-top", 240, 120, 0, 1920, 1440);
  @include adaptiveValue("padding-top", 120, 80, 3, 1440, 768);
  @include adaptiveValue("padding-top", 80, 40, 3, 768, 360);

  @include adaptiveValue("padding-bottom", 150, 200, 0, 1920, 1440);
  @include adaptiveValue("padding-bottom", 200, 160, 3, 1440, 768);
  @include adaptiveValue("padding-bottom", 160, 80, 3, 768, 360);
  // .promo-case__container
  &__container {
  }
  // .promo-case__block
  &__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: rem(40);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 120, 88, 0, 1440, 768);
      @include adaptiveValue("margin-bottom", 88, 40, 3, 768, 360);
    }
    @media (max-width: em(700)){
        grid-template-columns: 1fr;
        row-gap: rem(40);
    }
      // .promo-case__block_left
      &_left {
        .promo-case__texts {
          @media (max-width: em(700)){
              order: 2;
          }
        }
        .promo-case__image {
          @media (max-width: em(700)){
              order: 1;
          }
        }
      }
  }
  // .promo-case__title-anim
  &__title-anim {
  }
  // .promo-case__title-txt
  &__title-txt {
  }
  // .promo-case__texts
  &__texts {
    display: flex;
    flex-direction: column;
    justify-content: center;

    >p {
      font-family: 'Salma Pro', sans-serif;
      font-style: normal;
      font-weight: 500;
      @include adaptiveValue("font-size", 32, 24, 0, 1920, 1440);
      @include adaptiveValue("font-size", 24, 20, 3, 1440, 768);
      @include adaptiveValue("font-size", 20, 14, 3, 768, 360);
      line-height: calc(40/32);
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 48, 40, 0, 768, 360);
      }
    }

    @extend %animate;
  }
  // .promo-case__txt
  &__txt {
    // @include adaptiveValue("font-size", 32, 24, 0, 1920, 1440);
    // @include adaptiveValue("font-size", 24, 20, 3, 1440, 768);
    // @include adaptiveValue("font-size", 20, 14, 3, 768, 360);
    // line-height: calc(40/32);
    // &:not(:last-child) {
    //   @include adaptiveValue("margin-bottom", 48, 40, 0, 768, 360);
    // }
  }
	// .promo-case__image
	&__image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	}
	// .promo-case__img-wrap
	&__img-wrap {
    @extend %animate;
    overflow: hidden;
    position: relative;
    // background-color: #d9d9d9;

    // width: 65%;
    // @include adaptiveValue("height", 568, 408, 0, 1920, 1440);
    // @include adaptiveValue("height", 408, 344, 3, 1440, 768);
    // @include adaptiveValue("height", 344, 328, 3, 768, 360);
    // @media (max-width: em(1300)){
    //     width: 100%;
    // }

    height: fit-content;
    width: fit-content;
    @include adaptiveValue("max-height", 568, 408, 0, 1920, 1440);
    @include adaptiveValue("max-height", 408, 344, 3, 1440, 768);
    @include adaptiveValue("max-height", 344, 328, 3, 768, 360);
	}
	// .promo-case__img
	&__img {
    position: relative;
    width: 100%;
    height: 100%;
    // object-fit: cover;
    object-fit: contain;
    z-index: 1;
	}
}

// General for CASE =======================
.page-cases {
  .cases {
    padding-top: unset;
  }
}